[submodule "venhancer"]
	path = venhancer
	url = https://github.com/Red-Fairy/venhancer.git
[submodule "mega-sam"]
	path = mega-sam
	url = https://github.com/Red-Fairy/mega-sam.git
[submodule "asmk"]
	path = asmk
	url = https://github.com/jenicek/asmk
